/*Positioning for the logo and search bar*/
.logosearch{
    position: absolute;
    bottom: 450px;
    left: 500px;
}

/*Navbar*/
.navbar{
    display: flex;
    min-height: 56px;
    align-items: center;
    font-family: Arial;
    justify-content: space-between;
}

.right {
    text-align: right;
    display: flex;
    align-items: center;
}

.left {
    text-align: left;
    display: flex;
    align-items: center;
}

.item {
    font-size: 13px;
    padding: 10px;
    display: inline-block;
}

.icon {
    width: 15px;
    height: 15px;
    margin: 7px;
}

.sign-in {
    background-color: #4c8bf5;
    font-family: Arial;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-radius: 3px;
    margin: 15px;
}